@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, #fff, #b9c9fc);
  width: 100%;
  min-height: 100vh;
}

header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 380px) {
  header {
    padding: 40px 20px;
  }
}
header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  text-decoration: line-through rgba(17, 0, 255, 0.3960784314);
}
header p {
  width: 90vw;
  max-width: 650px;
  font-size: 1rem;
  padding: 8px;
}
header .container-inputs {
  padding: 10px;
  width: 90vw;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}
header .container-inputs .input-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}
header .container-inputs .input-field input {
  border: none;
  font-size: 1rem;
  background: transparent;
  text-transform: capitalize;
  max-width: 80%;
}
header .container-inputs .input-field input:focus {
  outline: none;
}
header .container-inputs .input-field input::placeholder {
  color: #ccc;
}
header .container-inputs .input-field span {
  color: #ccc;
}
@media screen and (max-width: 320px) {
  header .container-inputs .input-field {
    width: 70vw;
  }
  header .container-inputs .input-field input {
    font-size: 0.7rem;
  }
}
header .container-inputs .input-submit-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
header .container-inputs .input-submit-box select {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
header .container-inputs .input-submit-box select:focus {
  outline: none;
}
header .container-inputs .input-submit-box button {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.5s ease;
}
header .container-inputs .input-submit-box button:hover {
  background: #383838;
}
@media screen and (max-width: 320px) {
  header .container-inputs .input-submit-box select, header .container-inputs .input-submit-box button {
    font-size: 0.8rem;
    width: 70vw;
  }
}
header .container-inputs #warnerSpan {
  position: absolute;
  bottom: -20px;
}

main {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (max-width: 380px) {
  main {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 120vh) {
  main {
    gap: 2rem;
  }
}
main .cardTarefas {
  background: rgba(255, 255, 255, 0.603);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 100%;
  width: 320px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 720px) {
  main .cardTarefas {
    width: 500px;
  }
}
main .cardTarefas .containerTarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
main .cardTarefas .tarefaBox {
  background-color: white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  cursor: pointer;
}
main .cardTarefas .tarefaBox .deleteIcon {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ff4949;
  border: 1px solid #ff4949;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
main .cardTarefas .tarefaBox .deleteIcon:hover {
  background-color: #fa1e1e;
  transform: scale(1.05);
}
main .cardTarefas .tarefaBox.clicado {
  border: 1px solid #013a05;
}
main .cardTarefas .tarefaBox.clicado .checkIcon {
  color: #013a05;
}
main .cardTarefas .tarefaBox.clicado .nomeTarefa {
  color: #ccc;
  text-decoration: line-through;
}

/*# sourceMappingURL=style.css.map */
